/*VARIABLES*/
:root {
    /*variables de color*/
    --color-primario: #5b91d6;
    --color-secundario: #1a5bb8;
    --color-acento: #2c7be5;
    --color-fondo: #f4f4f4;
    --color-fondo-oscuro: #2f334a;
    --color-texto: #000000;
    --color-texto-secundario: white;
    /*variables de texto*/
    --fuente-principal: "Montserrat";
    --fuente-secundaria: "Inter";
}

/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-left: 75px; 
    margin-right: 75px;
    background-color: var(--color-fondo);
    font-family: var(--fuente-secundaria);
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
}

/*MODO OSCURO*/
body.oscuro {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-secundario);
}

.btn-modo {
    display: flex;
    justify-self: right;
    padding: 5px;
    font-size: 10px;
    background: var(--color-acento);
}

.btn-modo:hover {
    background: var(--color-secundario);
}

body.oscuro .form-container {
    background: var(--color-fondo);
}

/*HEADER*/
.header-generaciones {
    background-color: var(--color-primario) !important;
    border-radius: 12px;
}

.titulo-header {
    color: var(--color-texto) !important;
    font-weight: bold;
}

.subtitulo-header {
    color: var(--color-texto-secundario) !important;
    font-size: 0.95rem;
}

h1, h2, h3 {
    font-family: var(--fuente-principal);
    margin-bottom: 5px;
}

h2, h3 {
    color: var(--color-primario);
}

/*NAVEGACION*/
.navbar.menu-azul {
    background-color: var(--color-secundario) !important;
    border-radius: 12px;
    padding: 10px 0 !important;
}

.navbar.menu-azul .navbar-nav .nav-link.boton-capsula {
    background-color: var(--color-fondo) !important;
    color: var(--color-texto) !important;
    font-weight: bold !important;
    padding: 6px 16px !important;
    border-radius: 12px !important;
    text-align: center;
    display: inline-block;
    opacity: 1 !important;
    transition: background-color 0.2s ease, transform 0.1s ease !important;
}

.navbar.menu-azul .navbar-nav .nav-link.boton-capsula:hover {
    background-color: var(--color-acento) !important;
    color: var(--color-fondo) !important;
    cursor: pointer;
}

.custom-toggler {
    border-color: var(--color-fondo) !important;
    background-color: var(--color-acento);
}

main {
    padding-bottom: 25px;
    border-bottom: 2px solid var(--color-primario);
}

/*SECCIONES*/
section {
    border-style: solid;
    border-color: var(--color-acento);
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
    overflow: hidden;
}

#map-link {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--color-secundario);
    color: var(--color-texto-secundario);
    padding: 8px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

#map-link:hover {
    background-color: var(--color-primario);
    color: var(--color-fondo);
}

.section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card {
    background: #e9f2ff;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

/*CONTACTO*/
.contacto-section {
    border: none;
}

.form {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 25px;
    margin-bottom: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0;  
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 102, 255, 0.3);
    width: 100%;
    max-width: 700px;
    height: 100%;
    text-align: left;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 100%;
    font-family: var(--fuente-secundaria);
}

label {
    display: block;
    margin-bottom: 5px;
    align-self: flex-start;
    margin-top: 10px;
    font-weight: bold;
    color: var(--color-primario);
}

input[type="text"], input[type="email"], select, textarea {
    display: block;
    margin-bottom: 15px;
    position: relative;
    margin: 8px 0;
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    background: none;
    color: var(--color-texto);
    outline: none;
    font-size: 18px;
    border-bottom: 2px solid var(--color-acento);
    transition: 0.4s;
}

input[type="text"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
    border-color: var(--color-primario);
    box-shadow: 0 5px 15px var(--color-primario);
}

textarea {
    max-height: 50px;
    resize: none;
    overflow: hidden;
}

input span {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-texto);
    font-size: 16px;
    pointer-events: none;
    transition: 0.4s;
}

input:focus + span, input:not(:placeholder-shown) + span, select:focus + span, select:not(:placeholder-shown) + span, 
textarea:focus + span, textarea:not(:placeholder-shown) + span {
    top: 5px;
    font-size: 12px;
    color: var(--color-primario);
}

input, select, textarea {
    font-family: var(--fuente-secundaria);
}

label[for="email"], input[type="email"], label[for="asunto"], select, label[for="message"], textarea,
button {
    grid-column: span 2;
}

label[for="name"] {
    grid-column: 1;
    grid-row: 1;
}

input[id="name"] {
    grid-column: 1;
    grid-row: 2;
}

label[for="surname"] {
    grid-column: 2;
    grid-row: 1;
}

input[id="surname"] {
    grid-column: 2;
    grid-row: 2;
}

button {
    background: linear-gradient(90deg, var(--color-primario), var(--color-secundario));
    color: var(--color-texto-secundario);
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
    margin-top: 10px;
    justify-self: center; 
    width: auto;
}

button:hover {
    background: linear-gradient(90deg, var(--color-secundario), var(--color-primario));
    box-shadow: 0 5px 15px var(--color-primario);
}

/*SECCION PREGUNTAS FRECUENTES*/
.faq-section {
    max-width: 100%;
}

.faq-section h2 {
    text-align: center;
    color: var(--color-primario);
    margin-bottom: 20px;
}

.faq-item {
    background-color: var(--color-fondo);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid var(--color-fondo);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-item[open] {
    background-color: var(--color-fondo);
    border-color: var(--color-primario);
}

summary {
    font-weight: bold;
    color: var(--color-primario);
    outline: none;
}

.faq-item p {
    margin-top: 10px;
    color: var(--color-texto);
    line-height: 1.5;
}

/*Seccion de programa*/
.programas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.programas-section h2 {
    color: var(--color-primario);
    margin-bottom: 20px;
}

.programas-section p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.programas-section article {
    margin-bottom: 25px;
    padding: 15px;
    border-left: 5px solid var(--color-acento);
    background-color: var(--color-fondo);
    border-radius: 10px;
}

.programas-section h3 {
    margin-bottom: 10px;
    color: var(--color-secundario);
}

/*IMAGENES*/
img {
    border-radius: 10px;
    float: right; 
    clear: both;
    margin-right: 50px;
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.foto {
    border-radius: 10px;
}

#charla, #voluntariado {
    height: 250px;
    max-width: 100%;
    margin-left: 15px;
}

#voluntariado { 
    margin-top: 15px;
}

#foto-equipo { 
    height: 300px;
    max-width: 100%;
}

/*LISTAS*/
ul {
    list-style: none;
}

dl {
    column-count: 4; 
    column-gap: 20px;
}

.columna {
    break-inside: avoid; 
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

/*FOOTER*/
footer {
    margin-top: 25px;
    text-align: center;
    background-color: var(--color-acento);
    padding: 5px;
    border-radius: 10px;
}