:root {
 --color-primario: #2c7be5;
 --color-secundario: #1a5bb8;
 --color-acento: #1ae8aa;
 --color-fondo: #f4f4f4;
 --color-texto: #000000;
    /*variables de color*/
    --color-primario: #5b91d6;
    --color-secundario: #1a5bb8;
    --color-acento: #2c7be5;
    --color-fondo: #f4f4f4;
    --color-texto: #000000;
    /*variables de texto*/
    --fuente-principal: "Montserrat";
    --fuente-secundaria: "Inter";
}
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
}
header {
    background-color: var(--color-primario);
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: var(--color-secundario);
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover {
    color: var(--color-acento);
}
main {
    padding: 20px;
}
main h1 {
    color: var(--color-primario);
    margin-bottom: 20px;
}
main p {
    margin-bottom: 15px;
    line-height: 1.6;
}
main ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}
main ul li {
    margin-bottom: 10px;
}
footer {
    background-color: var(--color-secundario);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
